.playlist-section{
    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 12px;
}

.playlist-heading{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: xx-large;
    letter-spacing: -1px;
    font-weight: 700;
}

.playlist-nofile{
    padding: 12px;
    text-align: center;
    font-weight: 800;
    font-size: large;
    color: red;
}
.playlist-heading span{
    color: #0964b0;
}

.playlist-audioFiles{
    max-height: 75%;
    border: 1px solid #00000033;
    width: 100%;
    border-radius: 12px;
    overflow-y: scroll;
    box-shadow: 20px 20px 60px #00000041;
    transition: all 300ms;
    margin-bottom: 12px;
    
}
.playlist-audioFiles::-webkit-scrollbar{
    width: 2px;
}


.playlist-audios{
    display: flex;
    padding-block: 14px;
    border-bottom: 1px solid #00000033;
    transition: all 300ms;
    justify-content: space-around;
    align-items: center;
    /* padding-inline: 24px; */
}
.playlist-audios:hover{
    cursor: pointer;
    background: #0964b0;
    color: white;
}

.selected{
    background: #0964b0;
    color: white;
}
.playlist-audios:last-child {
    border-bottom: none; 
}


.playlist-play{
    height: 32px;
    width: 32px;

}


.playlist-audios p{
    /* max-width: 50%; */
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
    font-weight: 500;
    /* border-left: 1px solid  #00000033; */
    /* padding-left: 3px; */
}

.del{
    height: 32px;
    width: 32px;
    margin-top: 12px;
    color: red;
    
}